extends layout.pug  
block content
    style  
        include css/login.css 
    .wrapper.fadeInDown
        p=error
        #formContent
            // Tabs Titles
            h2.inactive.underlineHover 
                a(href='/user/login') Sign In 
            h2.active
                a(href='register') Sign Up 
            form(action='/user/createaccount' method='post')
                input#login.fadeIn.second(type='text', name='email', placeholder='Email')
                input#password.fadeIn.third(type='text', name='name', placeholder='Name')
                input#password.fadeIn.third(type='password', name='password', placeholder='Password')
                input.fadeIn.fourth(type='submit' value='Sign Up')
                