extends layout.pug
block content
    h1.section Subcategories
    each item in items
        if item.image!='categories/category_404.png'
            .products
                p #{item.name}
                .subcategories
                    .img
                        img(src=`/images/${item.image}`)
                    .description
                        p #{item.page_description}
                a(href=`/product/women/${item.id}?page=1`) View Products