.mySlides{display: none;}
.display-product{
    width:1100px;
    box-shadow: chartreuse 2px 2px 3px ;
    display: inline-flex;
    margin: 50px 210px;
}
.product-details
{
    width:600px;
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 100px 20px;
    height: 583px;
}
.price
{
    width:150px;
    padding:5px;
    box-shadow: 2px 2px 3px red;
    margin-right: 30px;
    border-radius: 4px;
}
