.searched-item{
    margin: 30px 300px;
    
    width: 900px;
}
.item 
{
        width: 426px;
        height: 450px;
        float: left;
        box-shadow: 2px 3px 8px wheat;
        margin: 10px;
        text-align: center;
}
.item:hover{
    transform: scale(1.04);
}
.productImage{
    width:300px;
    height:200px;
    margin:  10px 63px;
}

.action p
{
    width:150px;
    padding:5px;
    box-shadow: 2px 2px 3px red;
    margin-right: 30px;
    border-radius: 4px;
}
.action
{
    display: inline-flex;
    
}
.productImage img
{
    width: 195px;
    height:195px;
}
.action a
{
    margin-top: 16px;
    text-decoration: none;
    text-decoration: none;
    padding: 4px  2px;
    height: 29.4px;
    box-shadow: 2px 2px 3px red;
    border-radius: 4px;
    color: black;
    cursor: context-menu;
}
